.component-container
{
  background-color: white;
}

.component-border
{
  border-style: solid;
  border-width: 1px;
}

.form-control:disabled, .form-control[readonly] {
  background-color: white;
  opacity: 1;
}
