<div class="component-container component-border pt-5 pb-5 pl-5 pr-5">

  <form #testForm="ngForm">

    <div class="d-flex flex-column align-items-stretch">

      <div class="form-group d-flex flex-column align-items-center">
        <label for="inputDate">Исходная дата</label>
        <input type="text" class="form-control" id="inputDate"
               [(ngModel)]="this.entity.inputDateString" name="inputDate" #inputDateControl="ngModel">
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="!this.isPushed">
        Значение должно быть правильной датой в допустимом диапазоне
      </div>

      <div class="d-flex flex-row justify-content-between pb-5">
        <button type="button" class="btn btn-light" (click)="push(this.entity.inputDateString)">Push</button>
        <button type="button" class="btn btn-light" (click)="pull()">Pull</button>
      </div>

      <div class="form-group d-flex flex-column align-items-center">
        <label for="serviceDate">Дата из сервиса</label>
        <input type="text" class="form-control" id="serviceDate"
               [(ngModel)]="this.entity.serviceDateString" name="serviceDate" #serviceDateControl="ngModel"
               [disabled]="true">
      </div>
      <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="!this.isSended">
        Ошибка связи с веб-сервисом {{this.httpResponseCode}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <button type="button" class="btn btn-light" (click)="send()">Send</button>
    </div>

  </form>

</div>
